.navbar {
    background-color: black !important;
}
.logo-lg {
    background-color: black !important;
}

.logo {
    background-color: black !important;
}

body {
    color: grey !important;
}

.panel-body {

    background-color: rgb(46, 46, 46) !important;
}

.panel-heading {
    color: white !important;
    background-color: rgb(7, 7, 7) !important;
}

button {
    color: black !important;
}

.main-sidebar {
    color: white !important;
    background-color: rgb(0, 0, 0) !important;
}

.sidebar-menu * {
    color: grey !important;
}

.content-wrapper {
    background-color: rgb(46, 46, 46) !important;
}
.wrapper {
    background-color: rgb(46, 46, 46) !important;
}

.main-footer {
    color: white !important;
    background-color: black !important;
}
